@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400&display=swap');

body {
    margin: 0;
    font-family: 'Poppins';
    background: radial-gradient(circle, rgba(46, 196, 38, 0.794) 0%, rgba(148, 187, 233, 1) 100%);
}
 .note-video-clip{
  width: auto;
}
header {
  position: relative;
  background-color: #000f109e;
  padding: 5px 10px;
  background:rgba(0, 0, 0, 0.885);
}

header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, rgb(118, 224, 178), #0f0, rgb(165, 165, 224)),
                    linear-gradient(to right, rgb(165, 165, 224), rgb(179, 221, 179), rgb(255, 247, 247));
  background-position: left, right;
  background-size: 50%, 50%;
  animation: borde-rgb 30s linear infinite;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes borde-rgb {
  0% {
    background-position: left, right;
  }
  50% {
    background-position: right, left;
  }
  100% {
    background-position: left, right;
  }
}

header .logo {
    display: inline-block;
    margin-right: 20px;
}

header .logo img {
    width: 100px;
    height: auto;
    border-radius: 20px;
}

header .menu {
    display: flex;
}

header .menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: "Poppins", light;
  font-weight: bold;
}
header .menu a:hover {
  color: rgb(15, 66, 207);
  

 
}
header .menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Estilos para la barra de navegación superpuesta */
.superpuesto {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.superpuesto .cerrar {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
}

.superpuesto .contenido a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.superpuesto .contenido a:hover {
    color: #f1f1f1;
}

/* Estilos para móviles */
@media screen and (max-width: 768px) {
    header .menu {
        display: none;
    }

    header .menu-icon {
        display: block;
    }

    header::after {
        display: none;
    }
}

.whatsapp img {
    position: fixed;
    width: 60px;
    bottom: 10px;
    right: 10px;
}

.init {
    display: ruby-text;
}

.container {
    width: 80%;
    margin: 10px auto;
    background-color: #ffffff6e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.noticia {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}

.noticia img {
    max-width: 50%;
    height: 30%;
    margin-bottom: 10px;
}

.noticia h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.noticia p {
    line-height: 1.6;
    text-align: justify;
}

.noticia h4 {
    text-align: right;
}




/*********************************/
footer {
    /*background-color: #ffffff;*/
    background: #ffffff;
    text-align: center;
  
    width: 100%;
background: linear-gradient(45deg,  transparent 50%,#5c91c99d );
    background-size: 20px 20px;
 
    /*padding: 20px;*/
  
  
    
  }
  
  .redes-sociales {
    margin-bottom: 10px;
    padding-left: 10px;
  }
  
  .redes-sociales a {
    margin: 0 10px;
    text-decoration: none;
  }
  
  .redes-sociales img {
    width: 60px;
    height: 60px;
  }


/* -------------------------------------------------*/
.patrocinadores {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}





.patrocinador-actual img {
  max-width: 100px;
  height: auto;

  border-radius: 20px;
}

